/* Navbar.module.css */
.navbar {
    background-color:  rgb(17, 18, 41);
  }
  
  .navLink {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navLinkHover:active,
  .navLink:hover {
    background-color: #7f00ff;
    color: #fff;
  }
  
  .navLinkActive {
    background-color: #7f00ff;
    color: #fff;
    font-weight: bold;
  }