.introSection{
    text-align: center;
    color:white
}

.searchBox{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.searchInput{
    width: 300px;
    padding: 10px;
    background-color: rgb(17, 18, 41);
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    outline: none;
   
   
}

.searchInput::placeholder {
    color: white;
  }

.searchInput:focus::placeholder {
   
    border-color: #6c7c94;
} 


.productCategory {
    width: 200px;
    padding: 10px;
    background-color: rgb(17, 18, 41);
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .productCategory option {
    background-color: #333;
    color: white;
  }
  
  .productCategory:focus:placeholder {
    background-color: #4e5b7a;
    border-color: #6c7c94;
  }

  .productItem{
    background-color:rgb(19,23,42);
    border:1px solid rgb(35,39,61);
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
  }

  .productImage{
    width:100%;
    height: auto;
    margin-bottom: 10px;
  }

  .productName{
    color:white;
  }

  .productDescription{
    color:rgb(173,178,203);
  }

  .productWarranty{
    color:rgb(242,126,212);
  }

  .productPrice{
    color:white;
  }

  .productRating{
    color:#FFD700;
    margin-top: 10px;
  }

  .productActions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .spaceX{
    margin:0 5px;
  }